
/* This file is only needed for global styles that can't be handled in Tailwind */
/* You can remove this comment when implementing additional styles */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

::selection {
  background-color: rgba(0, 0, 0, 0.1);
}
